body {
    color: #333;
    margin: 33px; 
    z-index: -1;
}

.edit {
    background-image: image-url("pencil-edit.png");
    background-repeat: no-repeat;
    height: 25px !important;
}

.delete {
    background-image: image-url("trash.png");
    background-repeat: no-repeat;
    height: 25px !important;
}

.completion-checkbox {
    margin-top: 17px !important;
}

#options-container > * {
    margin-top: 10px;
    float: right;
}

.row form {
    display: inline;
}

.past-due {
    display: block;
}

.not-due {
    display: none;
}

.label {
    font-weight: bold;
}

#create-to-do-pop-up {
    display: none;
    z-index: 10;
    background-color: rgba(233, 231, 231, 0.9); /* Black w/opacity */
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 50%;
    padding: 20px;
}

#notice {
    font-weight: bold;
    color: red;
}